The main purpose of this notebook is to calculate correlation between categorical variable

In [2]:
from scipy.stats import chi2_contingency
import pandas as pd
import numpy as np

In [3]:
def Custom_cramersV(x,y):
    if x.nunique() <2 or y.nunique() < 2:
        return 0
    matrix = pd.crosstab(x,y)
    chi2 = chi2_contingency(matrix)[0]
    n = matrix.sum().sum()
    phi2 = chi2/n
    r, k = matrix.shape
    phi2corr = max(0, phi2-((k-1)*(r-1))/(n-1))
    rcorr = r-((r-1)**2)/(n-1)
    kcorr = k-((k-1)**2)/(n-1)
    return np.sqrt(phi2corr/min((kcorr-1),(rcorr-1)))
def create_corr_matrix(df):
    lst1 = []
    lst2 = []
    corr_matrix = pd.DataFrame(index = df.columns,columns = df.columns)
    for i in range(len(corr_matrix.columns)):
        for j in range(i,len(corr_matrix.columns)):
            col1 = corr_matrix.columns[i]
            col2 = corr_matrix.columns[j]
            lst1.append(col1)
            lst2.append(col2)
            col_pair = [(k,v) for k,v in zip(lst1,lst2)]
            if df[col1].dtype =='object' and df[col2].dtype == 'object':
                corr_matrix.at[col1,col2] = Custom_cramersV(df[col1],df[col2])
                corr_matrix.at[col2,col1] = corr_matrix.at[col1,col2]
    return corr_matrix,col_pair

In [8]:
import pandas as pd

# !create a dictionary with categorical features and target
data = {
    'gender': ['male', np.nan, 'male', 'male', 'female'],
    'age_range': ['18-24', '25-34', '35-44', '18-24', '25-34'],
    'marital_status': ['single', 'married', 'single', 'married', 'single'],
    'product_preference': ['A', 'B', 'A', 'B', 'C'],
    'target': ['yes', 'no', 'no', 'yes', 'no']
}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# display the DataFrame
print(df)

   gender age_range marital_status product_preference target
0    male     18-24         single                  A    yes
1     NaN     25-34        married                  B     no
2    male     35-44         single                  A     no
3    male     18-24        married                  B    yes
4  female     25-34         single                  C     no

In [9]:
corr_matrix,col_pair = create_corr_matrix(df)

In [10]:
corr_matrix

,gender,age_range,marital_status,product_preference,target
gender,0.0,0.707107,0.0,0.707107,0.0
age_range,0.707107,1.0,0.0,0.0,0.816497
marital_status,0.0,0.0,0.346944,0.816497,0.0
product_preference,0.707107,0.0,0.816497,1.0,0.0
target,0.0,0.816497,0.0,0.0,0.346944

In [7]:
col_pair

[('gender', 'gender'),
 ('gender', 'age_range'),
 ('gender', 'marital_status'),
 ('gender', 'product_preference'),
 ('gender', 'target'),
 ('age_range', 'age_range'),
 ('age_range', 'marital_status'),
 ('age_range', 'product_preference'),
 ('age_range', 'target'),
 ('marital_status', 'marital_status'),
 ('marital_status', 'product_preference'),
 ('marital_status', 'target'),
 ('product_preference', 'product_preference'),
 ('product_preference', 'target'),
 ('target', 'target')]